/* Mobile specific */
body {
  width: 92%;
  max-width: 75ch;
}

p {
  margin-top: 0px;
  margin-bottom: 18px;
  padding-right: 0;
  vertical-align: baseline;
}

p, ol, ul, li, summary {
  font-size: 15px;
  line-height: 25px;
}

code > span {
  font-size: 15px;
  line-height: 1.8rem;
}

main > div > ul li {
  list-style-type: initial;
  margin-bottom: 0rem;
  font-size: 15px;
  line-height: 1.8rem;
}

main > div > ul {
  padding-left: 1.5rem;
}

figure { 
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 1rem auto;
}

figcaption {
  font-size: 0.9rem;
}

nav li {
  display: inline;
  margin-right: 3%;
  line-height: 2rem;
}

nav {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

blockquote {
  font-size: 15px;
  line-height: 25px;
}

.image-gallery {
  display: grid;
  grid-template-columns: 100%;
}

.image-gallery img {
  object-fit: cover;
  width: 90%;
  max-height: 15rem;
}

/* Desktop specific */
@media only screen and (min-width: 768px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
  }

  .image-gallery img {
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
  }

  body {
    max-width: 75ch;
  }

  nav {
    position: absolute;
    top: 3rem;
    right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }

  nav li {
    display: block;
    margin-right: 0;
  }

  h1 {
    margin-top: 27px;
    font-size: 32px;
    line-height: 27px;
    margin-bottom: 12px;
  }

  h2 {
    margin-top: 27px;
    font-size: 28px;
    line-height: 27px; 
  }

  p {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-right: 0;
    vertical-align: baseline;
  }

  p, ol, ul, li, summary {
    font-size: 18px;
    line-height: 28px;
  }

  p + ul {
    margin-top: -20px !important;
  }

  main > div > ul li {
    list-style-type: initial;
    margin-bottom: 0rem;
    font-size: 18px;
    line-height: 28px;
  }

  blockquote > p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
  }

  code > span {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  div.sourceCode {
    width: 90ch;
  }

  body {
    width: 85%;
  }

  img {
    max-height: 20rem;
    height: 100%;
    width: auto;
    display: block;
    margin: 1rem auto;
  }

  figcaption {
    font-size: 1.0rem;
  }
}

/* Same on desktop and mobile */
.image-gallery p {
  text-align: center;
}

.recipe-image img {
  margin: 1rem 0;
}

/* Nav links */
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
  line-height: 1.2rem;
  margin-bottom: 0.2rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: #007bff;
}

main a {
  text-decoration: none;
  color: #007bff;
}

.archive > ul {
  margin-top: 0;
}

/* Blog */
body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Arial", sans-serif;
  color: #111;
  counter-reset: sidenote-counter; 
}

h1, h2, h3, h4 {
  font-weight: 600;
  font-family: "Montserrat";
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
  margin-bottom: 1.0rem;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.0rem;
  line-height: 1; 
}

figcaption {
  text-align: center;
}

main.main-list li {
  margin-bottom: 1.0rem;
}

blockquote {
  margin-left: 0rem;
  padding: 0 1rem;
  color: #6a737d;
  border-left: 0.25rem solid #dfe2e5;
}

summary {
  margin-top: -0.8rem;
}
